<h3>Edit Profile</h3>

<h3><%=@user.to_s%></h3>
<p><%=@user.bio%></p>
<p><%=@user.age%></p>

<h4>Current Outfits: </h4>
<ul>
    <%@user.outfits.each do |o|%>
        <li><%=link_to o.name, outfit_path(o)%></li>
    <%end%>
</ul>

<p><b>Please fill in the following information: </b></p>

<%=render 'form'%>

<%=link_to "Home", home_path%>

<%=link_to 'Delete Account', user_path(@user), method: :delete%> 